/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, D:/Development/GitHub/6template_maket2/scss/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, D:/Development/GitHub/6template_maket2/scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, D:/Development/GitHub/6template_maket2/scss/reset.scss */
body {
  line-height: 1;
}

/* line 34, D:/Development/GitHub/6template_maket2/scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, D:/Development/GitHub/6template_maket2/scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, D:/Development/GitHub/6template_maket2/scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, D:/Development/GitHub/6template_maket2/scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, D:/Development/GitHub/6template_maket2/scss/style.scss */
.container {
  max-width: 1010px;
  margin: 0 auto;
}

/* line 15, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_header {
  background-image: url(../img/bg_header_1200x693.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 22, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_header_wrapper {
  background-color: rgba(227, 213, 184, 0.5);
}

/* line 26, D:/Development/GitHub/6template_maket2/scss/style.scss */
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 30, D:/Development/GitHub/6template_maket2/scss/style.scss */
.header_wrapper .logo {
  margin-top: 41px;
  margin-left: 5px;
}

/* line 34, D:/Development/GitHub/6template_maket2/scss/style.scss */
.header_wrapper .main_nav {
  align-self: flex-start;
  margin-top: 71px;
}

/* line 40, D:/Development/GitHub/6template_maket2/scss/style.scss */
.logo_text {
  font-family: 'Quite Chocolatey';
  font-size: 88.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -1.8px;
  text-align: center;
  color: #d03958;
}

/* line 52, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_nav_list {
  display: flex;
  justify-content: flex-end;
}

/* line 57, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_nav_item_link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.4px;
  text-align: left;
  color: #1b1b1b;
  padding: 11px 16px;
  text-transform: uppercase;
}

/* line 70, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_nav_item_link:hover {
  color: #ffffff;
  background-color: #d03958;
  border-radius: 5px;
}

/* line 77, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_header_tittle {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: -1.8px;
  text-align: left;
  max-width: 48.81188%;
  margin-top: 163px;
}

/* line 88, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_header_tittle .main_header_title_part1 {
  color: #d03958;
}

/* line 91, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_header_tittle .main_header_title_part2 {
  color: #161616;
}

/* line 94, D:/Development/GitHub/6template_maket2/scss/style.scss */
.main_header_tittle .main_header_title_text {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: left;
  color: #161616;
  margin-top: 47px;
  padding-bottom: 156px;
}

/* line 110, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .services_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -1px;
  text-align: left;
  margin-top: 40px;
}

/* line 120, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .services_title .sevrice_title_part1 {
  color: #d03958;
}

/* line 123, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .services_title .sevrice_title_part2 {
  color: #161616;
}

/* line 127, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .service_list {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

/* line 131, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .service_list .service_item {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: center;
  color: #161616;
  max-width: 16.63366%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* line 146, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .service_list .service_item::before {
  content: "";
  margin-bottom: 50px;
}

/* line 150, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .service_list .service_item.--heart::before {
  width: 163px;
  height: 142px;
  background-image: url(../img/heart_163x142.png);
}

/* line 155, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .service_list .service_item.--keys::before {
  width: 137px;
  height: 137px;
  background-image: url(../img/keys_137x137.png);
}

/* line 160, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .service_list .service_item.--lamp::before {
  width: 116px;
  height: 155px;
  background-image: url(../img/lamp_116x155.png);
}

/* line 165, D:/Development/GitHub/6template_maket2/scss/style.scss */
.serveces .service_list .service_item.--nav::before {
  width: 150px;
  height: 150px;
  background-image: url(../img/nav_150x150.png);
}

/* line 174, D:/Development/GitHub/6template_maket2/scss/style.scss */
.row {
  border-radius: 5px;
  background-color: #d03958;
  margin-top: 50px;
}

/* line 178, D:/Development/GitHub/6template_maket2/scss/style.scss */
.row .row_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 183, D:/Development/GitHub/6template_maket2/scss/style.scss */
.row .row_text {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  padding-top: 34px;
  padding-bottom: 42px;
  max-width: 59.50495%;
}

/* line 197, D:/Development/GitHub/6template_maket2/scss/style.scss */
.row .row_link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -0.4px;
  text-align: center;
  color: #161616;
  padding: 24px 76px 23px 65px;
  border-radius: 5px;
  background-color: #e3d5b8;
}

/* line 211, D:/Development/GitHub/6template_maket2/scss/style.scss */
.row .row_link:hover {
  color: #ffffff;
}

/* line 217, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing {
  border-radius: 23.2px;
  background-color: beige;
}

/* line 220, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing .pricing_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -1px;
  text-align: center;
  color: #1f1f1f;
  padding-top: 65px;
}

/* line 232, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing .pricing_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

/* line 240, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  min-width: 31.48515%;
  margin-bottom: 5px;
}

/* line 248, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing_card .pricing_card_title {
  font-size: 22px;
  line-height: 1.27;
  margin-top: 35px;
}

/* line 253, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing_card .pricing_card_value {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -1.2px;
  text-align: left;
  color: #d03958;
  margin-top: 40px;
}

/* line 265, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing_card .pricing_card_item {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: center;
  color: #161616;
  margin-top: 30px;
}

/* line 277, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing_card .pricing_card_link {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -0.4px;
  text-align: center;
  color: #161616;
  padding: 18px 83px 15px 79px;
  border-radius: 3.8px;
  background-color: #e3d5b8;
  margin-top: 35px;
}

/* line 291, D:/Development/GitHub/6template_maket2/scss/style.scss */
.pricing_card .pricing_card_link:hover {
  background-color: #d03958;
  color: #ffffff;
}

/* line 298, D:/Development/GitHub/6template_maket2/scss/style.scss */
.tesmonial_gallery {
  display: flex;
  justify-content: space-between;
}

/* line 303, D:/Development/GitHub/6template_maket2/scss/style.scss */
.tesmonial {
  max-width: 50%;
}

/* line 305, D:/Development/GitHub/6template_maket2/scss/style.scss */
.tesmonial .tesmonial_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -1px;
  text-align: center;
  color: #1f1f1f;
}

/* line 316, D:/Development/GitHub/6template_maket2/scss/style.scss */
.tesmonial .tesmonial_list_item_text {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: left;
  color: #161616;
}

/* line 327, D:/Development/GitHub/6template_maket2/scss/style.scss */
.tesmonial .tesmonial_list_item_author {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: left;
  color: #d03958;
}

/* line 339, D:/Development/GitHub/6template_maket2/scss/style.scss */
.gallery {
  max-width: 50%;
}

/* line 341, D:/Development/GitHub/6template_maket2/scss/style.scss */
.gallery .gallery_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -1px;
  text-align: center;
  color: #d03958;
}

/*# sourceMappingURL=../css/style.map */