@import 'reset';
$white: #ffffff;
$black: #161616;
$black-two:#1f1f1f;
$black-three:#1b1b1b;
$beige:#e3d5b8;
$faded-red:#d03958;
$greyish:#b5b5b5;
$container:1010px;
.container {
    max-width: $container;
    margin: 0 auto;
}

.main_header {
    background-image: url(../img/bg_header_1200x693.png);
    background-repeat: no-repeat;
    background-position: center; // background-size: auto;
    background-size: cover;
}

.main_header_wrapper {
    background-color: rgba(227, 213, 184, 0.5);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        margin-top: 41px;
        margin-left: 5px;
    }
    .main_nav {
        align-self: flex-start;
        margin-top: 71px;
    }
}

.logo_text {
    font-family: 'Quite Chocolatey';
    font-size: 88.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -1.8px;
    text-align: center;
    color: $faded-red;
}

.main_nav_list {
    display: flex;
    justify-content: flex-end;
}

.main_nav_item_link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: -0.4px;
    text-align: left;
    color: $black-three;
    padding: 11px 16px;
    text-transform: uppercase;
    &:hover {
        color: $white;
        background-color: $faded-red;
        border-radius: 5px;
    }
}

.main_header_tittle {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: -1.8px;
    text-align: left;
    max-width: 493px / $container * 100%;
    margin-top: 163px;
    .main_header_title_part1 {
        color: $faded-red;
    }
    .main_header_title_part2 {
        color: $black;
    }
    .main_header_title_text {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: left;
        color: $black;
        margin-top: 47px;
        padding-bottom: 156px;
    }
}

.serveces {
    .services_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: left;
        margin-top: 40px;
        .sevrice_title_part1 {
            color: $faded-red;
        }
        .sevrice_title_part2 {
            color: $black;
        }
    }
    .service_list {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .service_item {
            font-family: 'PT Serif', serif;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: -0.4px;
            text-align: center;
            color: $black;
            max-width: 168px / $container * 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            &::before {
                content: "";
                margin-bottom: 50px;
            }
            &.--heart::before {
                width: 163px;
                height: 142px;
                background-image: url(../img/heart_163x142.png);
            }
            &.--keys::before {
                width: 137px;
                height: 137px;
                background-image: url(../img/keys_137x137.png);
            }
            &.--lamp::before {
                width: 116px;
                height: 155px;
                background-image: url(../img/lamp_116x155.png);
            }
            &.--nav::before {
                width: 150px;
                height: 150px;
                background-image: url(../img/nav_150x150.png);
            }
        }
    }
}

.row {
    border-radius: 5px;
    background-color: $faded-red;
    margin-top: 50px;
    .row_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .row_text {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: left;
        color: $white;
        padding-top: 34px;
        padding-bottom: 42px;
        max-width: 601px / $container * 100%;
    }
    .row_link {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: -0.4px;
        text-align: center;
        color: $black;
        padding: 24px 76px 23px 65px;
        border-radius: 5px;
        background-color: $beige;
        &:hover {
            color: $white;
        }
    }
}

.pricing {
    border-radius: 23.2px;
    background-color: beige;
    .pricing_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: center;
        color: $black-two;
        padding-top: 65px;
    }
    .pricing_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }
}

.pricing_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    min-width: 318px / 1010px * 100%;
    margin-bottom: 5px;
    .pricing_card_title {
        font-size: 22px;
        line-height: 1.27;
        margin-top: 35px;
    }
    .pricing_card_value {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -1.2px;
        text-align: left;
        color: $faded-red;
        margin-top: 40px;
    }
    .pricing_card_item {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: center;
        color: $black;
        margin-top: 30px;
    }
    .pricing_card_link {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: -0.4px;
        text-align: center;
        color: $black;
        padding: 18px 83px 15px 79px;
        border-radius: 3.8px;
        background-color: $beige;
        margin-top: 35px;
        &:hover {
            background-color: $faded-red;
            color: $white;
        }
    }
}

.tesmonial_gallery {
    display: flex;
    justify-content: space-between;
}

.tesmonial {
    max-width: 50%;
    .tesmonial_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: center;
        color: $black-two;
    }
    .tesmonial_list_item_text {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: left;
        color: $black;
    }
    .tesmonial_list_item_author{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: left;
        color: $faded-red;
    }
}
.gallery{
    max-width: 50%;
    .gallery_title{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: center;
        color: $faded-red;
    }
}