@import 'reset';
$white: #ffffff;
$black: #161616;
$black-two:#1f1f1f;
$black-three:#1b1b1b;
$beige:#e3d5b8;
$faded-red:#d03958;
$greyish:#b5b5b5;
$container:1010px;
.container {
    max-width: $container;
    margin: 0 auto;
}

.main_header {
    background-image: url(../img/bg_header_1200x693.png);
    background-repeat: no-repeat;
    background-position: center; // background-size: auto;
    background-size: cover;
}

.main_header_wrapper {
    background-color: rgba(227, 213, 184, 0.5);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        margin-top: 20px;
        margin-left: 5px;
    }
    .main_nav {
        align-self: flex-start;
        margin-top: 50px;
    }
}

.logo_text {
    font-family: 'Quite Chocolatey';
    font-size: 88.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -1.8px;
    text-align: center;
    color: $faded-red;
}

.main_nav_list {
    display: flex;
    justify-content: flex-end;
}

.main_nav_item {
    margin-right: 5px;
}

.main_nav_item_link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: -0.4px;
    text-align: left;
    color: $black-three;
    padding: 11px 16px;
    text-transform: uppercase;
    &:hover {
        color: $white;
        background-color: $faded-red;
        border-radius: 5px;
    }
}

.wrapp {
    display: flex;
    justify-content: space-between;
}

.wrapp_form {
    position: relative;
    top: 125px;
    right: 0;
}

.main_header_tittle {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: -1.8px;
    text-align: left;
    max-width: 493px / $container * 100%;
    margin-top: 128px;
    .main_header_title_part1 {
        color: $faded-red;
    }
    .main_header_title_part2 {
        color: $black;
    }
    .main_header_title_text {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: left;
        color: $black;
        margin-top: 34px;
        padding-bottom: 156px;
    }
}

.abs_form {
    width: 400px;
    height: 520px;
    border-radius: 5.2px;
    background-color: $faded-red;
    box-shadow: 0px -5px 38px 0 rgba(173, 173, 173, 0.75);
    text-align: center;
    .abs_form_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: center;
        color: $white;
        padding-top: 29px;
    }
    .form_wrapper {
        margin-top: 17px;
    }
    .fullname,
    .email,
    .tel,
    .country {
        padding-left: 19px;
        text-align: left;
        width: 335px;
        height: 57px;
        border-radius: 5px;
        background-color: $white;
        margin-top: 15px;
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: -0.4px;
        color: $greyish;
        border: none;
    }
    .accept_wrapper {
        width: 353px;
        margin-top: 22px;
    }
    .accept_checkbox:checked+.accept_label::before {
        position: absolute;
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: -20px;
        margin-top: -10px;
        background-image: url(https://png.icons8.com/metro/1600/checkmark.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    }
    .accept_label {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: -0.4px;
        text-align: left;
        padding-left: 23px;
        color: $white;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-color: $white;
            border-radius: 5px;
            top: 50%;
            left: -20px;
            margin-top: -10px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.abs_form_button {
    margin-top: 20px;
    width: 353px;
    height: 57px;
    border-radius: 5px;
    background-color: $black;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: $white;
    border: none;
    &:hover {
        color: $faded-red;
        cursor: pointer;
    }
}

.services {
    .services_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: left;
        margin-top: 20px;
        .sevrice_title_part1 {
            color: $faded-red;
        }
        .sevrice_title_part2 {
            color: $black;
        }
    }
    .service_list {
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
        .service_item {
            font-family: 'PT Serif', serif;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: -0.4px;
            text-align: center;
            color: $black;
            max-width: 168px / $container * 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            &::before {
                content: "";
                margin-bottom: 30px;
            }
            &.--heart::before {
                width: 163px;
                height: 142px;
                background-image: url(../img/heart_163x142.png);
            }
            &.--keys::before {
                width: 137px;
                height: 137px;
                background-image: url(../img/keys_137x137.png);
            }
            &.--lamp::before {
                width: 116px;
                height: 155px;
                background-image: url(../img/lamp_116x155.png);
            }
            &.--nav::before {
                width: 150px;
                height: 150px;
                background-image: url(../img/nav_150x150.png);
            }
        }
    }
}

.row {
    background-color: $faded-red;
    margin-top: 60px;
    .row_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .row_text {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: left;
        color: $white;
        padding-top: 30px;
        padding-bottom: 40px;
        max-width: 601px / $container * 100%;
    }
    .row_link {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: -0.4px;
        text-align: center;
        color: $black;
        padding: 20px 75px;
        border-radius: 5px;
        background-color: $beige;
        &:hover {
            color: $faded-red;
        }
    }
}

.pricing {
    background-color: beige;
    .pricing_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: center;
        color: $black-two;
        padding-top: 40px;
    }
    .pricing_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
    }
}

.pricing_card {
    background-color: $white;
    border-radius: 5px;
    min-width: 318px / 1010px * 100%;
    text-align: center;
    position: relative;
    box-shadow: 0px -5px 16px 0 rgba(184, 172, 147, 0.75);
    overflow: hidden;
    top: 5px;
    -webkit-box-shadow: 17px 17px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 17px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 17px 10px 1px rgba(0, 0, 0, 0.75);
    &:hover {
        -webkit-box-shadow: 17px 17px 10px 1px rgba(208, 57, 88, 1);
        -moz-box-shadow: 17px 17px 10px 1px rgba(208, 57, 88, 1);
        box-shadow: 17px 17px 10px 1px rgba(208, 57, 88, 1);
    }
    &:nth-child(2)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-top: 100px solid #b4a993;
        border-right: 100px solid transparent;
    }
    &:nth-child(2)::after {
        content: "Popular";
        position: absolute;
        top: 15px;
        left: 5px;
        font-family: 'PT Serif', serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.73;
        letter-spacing: -0.2px;
        text-align: center;
        color: $black-two;
        transform: rotate(-45deg);
    }
    .pricing_card_title {
        font-size: 22px;
        line-height: 1.27;
        margin-top: 33px;
    }
    .pricing_card_value {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -1.2px;
        text-align: center;
        color: $faded-red;
        margin-top: 16px;
    }
    .pricing_card_list {
        margin-top: 8px;
    }
    .pricing_card_item {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        text-align: center;
        color: $black;
    }
    .pricing_card_link {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: -0.4px;
        text-align: center;
        color: $black;
        padding: 15px 85px 15px 80px;
        border-radius: 3.8px;
        background-color: $beige;
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 10px;
        text-decoration: none;
        &:hover {
            background-color: $faded-red;
            color: $white;
        }
    }
}

.tesmonial_gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.tesmonial {
    width: 50%;
    margin-right: 50px;
    .tesmonial_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: center;
        color: $black-two;
    }
    .tesmonial_list {
        margin-top: 5px;
        .tesmonial_list_item {
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: -0.4px;
            text-align: left;
            position: relative;
            padding-top: 26px;
            padding-bottom: 27px;
            padding-right: 60px;
            padding-left: 26px;
            margin-top: 25px;
            margin-right: 30px;
            &:hover {
                border-radius: 4.6px;
                background-color: $beige;
            }
            &::before {
                content: "";
                width: 105px;
                height: 105px;
                display: block;
                position: absolute;
                border-radius: 50%;
                top: 30px;
                right: -50px;
                box-shadow: 0px -5px 16px 0 rgba(184, 172, 147, 0.75);
            }
            &.--testim1::before {
                background-image: url(../img/testim1_105x105.png);
            }
            &.--testim2::before {
                background-image: url(../img/testim2_105x105.png);
            }
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .tesmonial_list_item_text {
        font-family: 'PT Serif', serif;
        color: $black;
    }
    .tesmonial_list_item_author {
        font-family: 'Montserrat', sans-serif;
        color: $faded-red;
        margin-top: 15px;
    }
}

.gallery {
    width: 50%;
    margin-left: 105px;
    .gallery_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -1px;
        text-align: center;
        color: $faded-red;
    }
    .gallery_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5px;
    }
    .gallery_link_wrapper {
        text-align: center;
        margin-top: 50px;
    }
    .gallery_link {
        text-align: center;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: -0.4px;
        color: $faded-red;
    }
}

.gallery_list_item_link {
    margin-top: 30px;
    margin-left: 35px;
    width: 105px;
    height: 105px;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    display: block;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 0px -5px 16px 0 rgba(184, 172, 147, 0.75);
    &.--gallery1 {
        background-image: url(../img/gallery1_105x105.png);
    }
    &.--gallery2 {
        background-image: url(../img/gallery2_105x105.png);
    }
    &.--gallery3 {
        background-image: url(../img/gallery3_105x105.png);
    }
    &.--gallery4 {
        background-image: url(../img/gallery4_105x105.png);
    }
    &.--gallery5 {
        background-image: url(../img/gallery5_105x105.png);
    }
    &.--gallery6 {
        background-image: url(../img/gallery6_105x105.png);
    }
}

.footer {
    background-color: $black;
    margin-top: 120px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    .footer_copy {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: -0.4px;
        text-align: left;
        color: $white;
        margin-top: 80px;
        margin-bottom: 80px;
        .footer_link {
            color: $faded-red;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .footer_logo {
        margin-top: 94px;
        margin-right: 5px;
        .footer_logo_text {
            font-size: 64.5px;
            line-height: 0.36;
            letter-spacing: -1.3px;
            font-family: 'Quite Chocolatey';
            text-align: center;
            color: $faded-red;
        }
    }
}